body {
  color: #000080;
  background-color: #ffffff;
}
a {
  color: #800080;
}
a:visited {
  color: #ff0000;
}

.left {
  float: left;
  width: 40%;
  margin-left:4em;
}
.left li, .right li {
  margin: 1.8em 0;


}
.right {
  float: right;
  width: 40%;
  margin-right:4em;
}
.clear {
  clear: both;
  border-top: 1px solid grey;
}

.left span, .right span {
  font-size: .7em;
}

header {
  font-weight: bolder;
  text-align: center;
  border-bottom: 1px solid grey;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
h1 {
  font-size: 1.6em;
}
h3 {
  font-size: .9em;
}
h2 {
  font-size: .8em
}
h1, h2, h3 {
  margin: 0em;
}
header span {
  font-size: 1.8em;
}
.geico {
  border-top: 1px solid grey;
  text-align: center;
  border-bottom: 1px solid grey;
  font-size: .6em;
  clear:both;

}

.geico img {
  margin: 1em 0 -1em;

  }

footer {
  margin-top: 1em;
  border-top: 1px solid grey;
}

*/ Reflection
What is important to know when linking an external file (like a stylesheet) to an HTML file?
-It is important to know the location of the external stylesheet and the type of document it is.
What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
-I used float right and left to help with the positioning of my list elements
What CSS did you use to modify the element style (like size, color, etc.)
-I modified the text-alignments, size, and color of visited links.
Did you modify the HTML to include classes or ids? If so, which did you chose and why? If you didn't, how would you know which one to add to your HTML?
-I inlcuded classes into b/c it is reusable and clean. I would add ids when something unique or specific needs customizing.
When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
-I believe my site is cleaner and easier for reading accessibility and web crawling with external CSS.